*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑","arial";
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
img{
	width: 100%;
	height: auto;
    display: block;
    border:0;
}
ul li{
	list-style: none;
}
a{
    text-decoration: none;
}
/*清除浮动*/
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1
}
/*header*/
.header-box{
    height: 60px;
    border-bottom: 1px solid #ececec;
    background: #fff;
}
.header{
	width: 1000px;
    margin:0 auto;
}
.headerBox {
    position: relative;
}
/*logo*/
.logo{
	width: 109px;
    margin-right: 60px;
    padding-top: 10px;
    height: 50px;
    float: left;
}

/*nav*/
.nav{
	float: left;
}
.nav .nav_ul{
	line-height: 60px;
}
.nav .nav_ul li{
	position: relative;
    font-size: 14px;
    display: inline-block;
    margin-right: 50px;
    float: left;
}
.nav .nav_ul li a{
	color: #333;
	text-decoration: none;
}
.nav .nav_ul li .memberCourse{
	color: #35b558;
}
.nav .nav_ul li .mC-icon
{
    border-left: 1px solid #35b558;
    border-top: 1px solid #35b558;
}
.nav .nav_ul li a:hover{
	color: #35b558;
}
.nav_ul li span{
    position: absolute;
    top: 45%;
    right: -25%;
    width: 8px;
    height: 8px;
    border-left: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin: 4px 4px;
    -webkit-transform-origin: 4px 4px;
    -o-transform-origin: 4px 4px;
    -ms-transform-origin: 4px 4px;
    -moz-transform-origin: 4px 4px;
}
.nav_ul li:hover span{
    margin-bottom: -2px;
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    animation: rotate 1s ease normal;
    -moz-animation: rotate 1s ease normal;
    -webkit-animation: rotate 1s ease normal;
}
@keyframes rotate{
    0% { margin-bottom: 2px;transform: rotate(-135deg); }
    10%{margin-bottom: -2px;}
    100%{transform: rotate(45deg);}
}
@-webkit-keyframes rotate{
    0% {margin-bottom: 2px;-webkit-transform: rotate(-135deg); }
    10%{margin-bottom: -2px;}
    100%{-webkit-transform: rotate(45deg);}
}
@-o-keyframes rotate{
    0% {margin-bottom: 2px;-o-transform: rotate(-135deg); }
    10%{margin-bottom: -2px;}
    100%{-o-transform: rotate(45deg);}
}
@-moz-keyframes rotate{
    0% {margin-bottom: 2px;-moz-transform: rotate(-135deg); }
    10%{margin-bottom: -2px;}
    100%{-moz-transform: rotate(45deg);}
}
.nav_ul li:hover .school{
    display: block;
}
/*导航下拉列表*/
/*职业学院*/
.school{ 
    display: none;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0;
    background: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
}
.school h4{
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}
.college-list a{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
}
.school s,.mmber-course s{
    background: url(../img/allicon.png) 0 0 no-repeat;
    background-position: 0 0;
    background-size: 64px 64px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
    position: absolute;
    margin-right: 5px;
}
.school .college-web{
    background-position: -15px -27px;
    top: 34%;
    left: 4%;
}
.college-pyt{
    background-position: -2px -2px;
    top: 30%;
    left: 4%;
}
.school .collegeWeb{
    background: url(../img/allicon3.png) 0 0 no-repeat;
    background-position: 0 0;
    background-size: 16px 148px;
}
.school .college-go{
    background-position: -2px -38px;
    top: 30%;
    left: 4%;
}
.school .college-ios{
    background-position: -2px -82px;
    top: 27.5%;
    left: 4%;
}
/*会员课程*/
.mmber-course b{
    color: #bbb;
    float: right;
    font-weight: normal;
}
.mmber-course{
    padding: 10px 0;
}
.mmber-course a{
    display: block;
    height: 40px;
    line-height: 40px;
    color: #666;
    padding:0 15px; 
    position: relative;
}
.mmber-course s{
    top: 37%;
    left: 4%;
}
.mmber-course .course_library{
    background-position: 0 -13px;
}
.mmber-course .career_path{
    background-position: -45px 0;    
}
.mmber-course .knowledge_system{
    background-position: -30px -12px;
}
.mmber-course .series_courses{
    background: url(../img/xlkc2.png) 0 0 no-repeat;
    background-position: 0 0;
    background-size: 12px 12px;
}
.mmber-course  .course_label{
    background-position: -15px -13px;
}
.mmber-course  .vip-shop{
    background-position: -16px -0px;
}
.mmber-course a:hover {
    display: block;
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    color: #35b558;
}

/*login*/
.login-box{
    text-align: right;
    width: 200px;
    height: 60px;
    float: right;
/*    position: relative;*/
}
.login-box .loginUl{
	width: 100%;
}
.login-box .loginUl li{
	float: left;
	height: 60px;
    width: 17px;
    margin-left: 45px;
    cursor: pointer;
    position: relative;
}
/*下载APP*/
.dowlond-app{
    width: 120px;
    display: none;
    position: absolute;
    top: 102%;
    left: -50px;
    background: #fff;
    z-index: 33;
}
.dowlond-app img{
	width: 100%;
}
.dowlond-app b{
	position: absolute;
    top: -8px;
    right: 53px;
    display: inline-block;
}
.icon-triangle{
    position: absolute;
    top: 87%;
    right: 8px;
    display: none;
}
.dowlond-app b,.icon-triangle{
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    width: 15px;
    height: 15px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    background: #fff;
}
/*seach*/
.login-box .seach-icon{
	background: url(../img/search-icon.png) center no-repeat;
    background-size: 17px 17px;
}
.login-box .seach-icon:hover{
	background: url(../img/search-icon2.png) center no-repeat;
    background-size: 17px 17px;
}
/*点击搜索显示的内容*/
.seach-box{
    transform-origin: right center;
    -moz-transform-origin: right center;
    -webkit-transform-origin: right center;
    -o-transform-origin: right center;
    -ms-transform-origin: right center;
    display: block!important;
    transform: scale(1, 1) !important;
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    opacity: 1!important;
    animation: scalerun 0.8s ease normal;
    -moz-animation: scalerun 2s line normal;
    -webkit-animation: scalerun 0.8s ease normal;
    -o-animation: scalerun 2s line normal;
    -ms-animation: scalerun 0.8s ease normal;
}
.seachBox{
    transform: scale(0.1, 1);
    -webkit-transform: scale(0.1, 1);
    -o-transform: scale(0.1, 1);
    -moz-transform: scale(0.1, 1);
    -ms-transform: scale(0.1, 1);
    transform: scale(0.1, 1);
    opacity: 0;
    height: 59px;
    line-height: 59px;
    width: 850px;
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
@keyframes scalerun{ 
    0% { opacity: 0;transform: scale(0.1, 1); }
    100%{opacity: 1;transform: scale(1, 1); }
}
@-webkit-keyframes scalerun{ 
    0% { opacity: 0;-webkit-transform: scale(0.1, 1); }
    100%{opacity: 1;-webkit-transform: scale(1, 1); }
}
@-o-keyframes scalerun{ 
    0% { opacity: 0;-o-transform: scale(0.1, 1); }
    100%{opacity: 1;-o-transform: scale(1, 1); }
}
@-moz-keyframes scalerun{ 
    0% { opacity: 0;-moz-transform: scale(0.1, 1); }
    100%{opacity: 1;-moz-transform: scale(1, 1); }
}
@-ms-keyframes scalerun{ 
    0% { opacity: 0;-ms-transform: scale(0.1, 1); }
    100%{opacity: 1;-ms-transform: scale(1, 1); }
}

.cloaeIcon{
    width: 15px;
    height: 15px;
    margin-top: 22px;
    cursor: pointer;
    background: url(../img/close-icon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    z-index: 1200;
}
.seachIcon{
    background: url(../img/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    height: 17px;
    width: 17px;
    display: inline-block;
    margin-top: 22px;
}
.seachIcon:hover{
     background: url(../img/search-icon2.png) 0 0 no-repeat;
      background-size: 17px 17px;
}
/*搜索input输入框*/
.seachMain{
    display: inline-block;
    float: left;
}
.textInput{
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    border:1px solid #fff;
    position: relative;
}
.textInput{
    appearance:none; -moz-appearance:none; -webkit-appearance:none;
} 
.textInput:focus {outline: none;} 
.seachMain label{
    position: absolute;
    top: 0;
    left: 50px;
    color: #a29e9e;
    font-size: 12px;
    letter-spacing: 1px;
}
/*移动端*/
.mobile{
    width: 175px;
    margin-right: 50px;
    float: right;
    display: inline-block;
}
.mobile li{
    float: left;
}
.mobile li a{
    font-size: 12px;
    color: #808080;
    background: #f5f5f5;
    padding: 3px 5px;
    margin-left: 10px;
    line-height: 18px;
    margin-top: 18px;
    text-align: right;
}












/*phone*/
.login-box  .phone-icon{
	background: url(../img/app-icon.png) center no-repeat;
    background-size: 17px 17px;
}
.login-box .phone-icon:hover{
	background: url(../img/app-icon2.png) center no-repeat;
    background-size: 17px 17px;
}
.login-box .phone-icon:hover .dowlond-app{
	display: block;
}
/*login*/
.login-icon{
	background: url(../img/login-icon.png) center no-repeat;
    background-size: 17px 17px;
}
.login-icon:hover .login-main,.login-icon:hover .icon-triangle{
	display: block;
}
/*login-下拉框*/
.login-icon .login-main{
    width: 130px;
    background: #fff;
    position: absolute;
    top: 61px;
    right: -48%;
    display: none;
    z-index: 2222;
}
.login-box .login-icon ul li{
    width: 100%;
    text-align: center;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    margin: 0px;
    letter-spacing: 1px;
    overflow: hidden;
    background: #fff;
    vertical-align: middle;
}
.login-icon .login-main li:hover{
    background: #fafafa;
}
.login-box .login-icon ul li a{
    color: #333;
    text-decoration: none;
    line-height: 35px;
}
.login-icon ul li a:hover{
 	color: #35b558;
}
.login-icon ul b{
    background: #fff url(../img/allicon2.png) 0 0 no-repeat;
    background-size: 64px 64px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
}
.login-icon .learning_Center{
    background-position: -16px -15px;
}
.login-icon .Per_homepage{
	background-position: -45px -1px;
}
.login-icon .message{
	background-position: -16px -13px;
}
.login-icon .account_Settings{
	background-position: -30px -1px;
}
/*主体部分*/
.container{
    background: #f5f5f5;
    padding-top: 20px;
    min-width: 1000px;
}
.cont{
    min-height: 750px;
}
/*左边部分*/
.cont-article{
    width: 210px;
    background: #fff;
    float: left;
}
.cont-article .article{
    border:1px solid #35b558;
}
.article h4{
    height: 45px;
    padding: 0 32px;
    border-bottom: 1px solid #eee;
    line-height: 45px;
    cursor: default;
    font-size: 14px;
    font-weight: 400;
    color: #35b558;
}
.article h4 i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/icon-course-curr_0743c98.png) no-repeat 0 0 / 15px 15px;
    margin-left: -20px;
    margin-top: 14px;
    margin-right: 3px;
}
.article .course-article{
    position: relative;
    width: 208px;
}
.article .course-article li{
    width: 176px;
    height: 37px;
    border-bottom: 1px solid #f5f5f5;
    background: url(../img/icon-more_cd68622.png) 186px center no-repeat;
    background-size: 6px 10px;
    padding-left: 32px;
} 
.course-article li a{
    font-size: 12px;
    color: #666;
    line-height: 36px;
}
.course-article li:hover{
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 38px;
    width: 210px;
    margin-top: -1px;
    margin-left: -1px;
    padding-left: 24px;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    -o-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}
.course-article li:hover .mCourse{
    color: #35b558;
}
.course-article li:hover .moreCourse{
    display: block;
}
.course-article .moreCourse{
    display: none;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    overflow: hidden;
    min-height: 359px;
    min-width: 401px;
    border: 1px solid #ddd;
    position: absolute;
    left: 209px;
    top: -47px;
    z-index: 1101;
    list-style: none;
    margin-left: -1px;
    padding-bottom: 30px;
    float: left;
    width: 591px;
    background: #fff;
}
.moreCourse>dl{
    margin: 0 15px;
    overflow: hidden;
}
.moreCourse dl dt{
    display: block;
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 45px;
}
.moreCourse dl dd{
    list-style: none;
    margin-left: -8px;
    padding: 3px 0;
}
.moreCourse dl dd a{    
    height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0 7px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    border-left: 1px solid #e0e0e0;
    float: left;
    white-space: nowrap;
    font-weight: 400;
}
.moreCourse dl dd a:hover{
    color: #35b558;
}
/*规划图*/
.otherCourse >ul li{
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    padding-left: 10px;
}
.otherCourse >ul li a{
    color: #333;    
}
.otherCourse >ul .occupation{
    background: url(../img/icon-zylj_6ee6dac.png) no-repeat left center;
    background-size: 15px 14px;
}
.zs-img{
    background: url(../img/icon-zstx_a1ae096.png) no-repeat left center;
    background-size: 15px 12.5px;
}
.list-course{
    background: url(../img/icon-xlkc_2e47588.png) no-repeat left center;
    background-size: 14px 14px;
}
.course-label{
    background: url(../img/icon-kcbq_65534c2.png) no-repeat left center;
    background-size: 15px 13px;
}
.otherCourse >ul b{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: text-bottom;
}
.otherCourse >ul li:hover{
    background: #fafafa url(../img/img-seeall_b965178.png) no-repeat 160px center;
    background-size: 40px 10px;
}
.otherCourse >ul li:hover a{
     color: #35b558;   
}
/*右边部分*/
.cont-aside{
    float: right;
    width: 776px;
}
/*主要内容导航*/
.aside{
    background: #fff;    
    box-sizing: content-box;
    height: 38px;
    background: #fff;
    color: gray;
    line-height: 38px;
}
.aside>ul li{
    float: left;
    cursor: pointer;
    padding: 0 18px;
    font-size: 12px;
    position: relative;
}
.aside .allCourse{
    padding: 0 21px;
    border-right: 1px solid #eee;
}
.aside b{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-left: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin:2px 3px;
    -webkit-transform-origin: 2px 3px;
    -o-transform-origin:2px 3px;
    -ms-transform-origin:2px 3px;
    -moz-transform-origin:2px 3px;
    margin-left: 6px;
}
.aside>ul li:hover b{
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
.aside>ul li:hover div{
    display: block;
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    -o-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    -ms-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}
/*最新,课程类型*/
.aside>ul div{
    background: #fff;
    padding: 0 10px 0 20px;
    position: absolute;
    left: 0px;
    padding-right: 28px;
    display: none;
    z-index: 11111;
}
.aside>ul div a{
    display: block;
    width: 100%;
    color: gray;
}
.aside>ul div a:hover{
    color:#35b558;
}
/*previewMode*/
.previewMode{
    float: right;
}
.previewMode .mode-icon1{
    background: url(../img/icon-kuai_3c1a8cf.png) no-repeat center;
    background-size: 39%;
}
.previewMode .mode-icon2{
     background: url(../img/icon-list_6d9f87f.png) no-repeat center;
     background-size: 42%;
}
.previewMode ul li{
    float: left;
    width: 36px;
    height: 38px;
    border-left: 1px solid #f5f5f5;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
/*课程类型一*/
.courseBox{
    margin-top: 15px;
}
.courseMode li{
    width: 250px;
    float: left;
    margin-bottom: 13px;
    display: block;
    background: #fff;
}
.courseMode li.courseListOdd{
    margin:0 13px;
}
.courseTextBox{
    padding: 10px;
}
.courseTextBox .courseTit{
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin-bottom: 8px;
    height: 36px;
    font-weight: normal;
}
.courseTextBox .courseText{
    color: gray;
    font-size: 12px;
    line-height: 18px;
    height: 0;
    overflow: hidden;
}
.coursePhoto{
    position: relative;
    height: 135px;
}
.coursePhoto .clickBtn,.articleList .redioBtn{
/*    display: inline-block;*/
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: absolute;
    top: 0;
    left: 0; 
   display: none;
}
.coursePhoto .clickBtn i,.redioBtn i{
    position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display:inline-block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -30px;
    background: url(../img/player_icon_5c67475.png);
    cursor: pointer;
    background-size:cover;
}
.courseTextBox span{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: gray;
    line-height: 13px;
}
.courseTextBox .studyNumber{
    float: right;
    font-weight: normal;
    display: none;
}
/*课时*/
.courseTime,.primary{
    width: 14px;
    height: 14px;
    float: left;
    display: inline-block;
    margin-right: 8px;
}
.courseTime{
    background: url(../img/clok_a413ecf.png) 0 0 no-repeat;
    background-size: 14px 14px;
}
.primary{
    background: url(../img/one-ji_1731712.png) 0 0 no-repeat;
    background-size: 14px 14px;
}
.courseTextBox .primaryBox{
    height: 0px;
    display: none
}
/*课程类型二*/
.courseMode-list{
    display: none;
}
.courseMode02 {
    background: #fff;
    margin-bottom: 15px;
}
/*课程类型2左边图片*/
.courseMode02 .articleList{ 
    width: 185px;
    height: 100px;
    float: left;
    margin-right: 15px;
    position: relative;
}
.articleList .redioBtn i{
    top:56%;
}
/*课程类型2右边课程描述*/
.courseMode02 .asideList{
    float: left;
    width: 566px;
}
.courseMode02 .asideList h4 a{
    font-size: 14px;
    color: #333;
    margin: 5px 0;
    font-weight: normal;
    display: inline-block;
}
.courseMode02 .asideList h4 a:hover{
    color: #35b558;
}
.asideList .textCourse{
    color: gray;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
}
.aCourse span{
    font-size: 12px;
    color: gray;
    line-height: 13px;
    float: left;
    margin-right: 10px;
}
.aCourse .studyNum{
    float: right;
}
.courseVip,.courseRZ{
    height: 22px;
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 8px;
    z-index: 101;
}
.courseVip{
    background: url(../img/tag_vip_4d846c2.png) 0 0 no-repeat;
    background-size: 100% 100%;
    width: 38px;
}
.courseRZ{
    width: 61px;
    background: url(http://s1.jikexueyuan.com/common/images/tag_rz_5a84337.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
/*分页*/
.paging ul{
    display: block;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 10px 45px;
    padding: 0;
}
.paging li{
    display: inline-block;
    padding: 0px 8px;
    border: 0;
    margin-left: 2px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    background: #fff;
    color: gray;
    border: 1px solid #e4e4e4;
    cursor: pointer;
}
.paging .numberPag:hover,.paging .homePag:hover{
    color: #35b558;
    border:1px solid #35b558;
}
.paging .publicPag{
    border: 0;
    cursor: auto;
    color: #000;
    background: none!important;
    margin-top: 3px;
}
.paging input{
    width: 30px!important;
    height: 22px!important;
    background: #fff;
    border: 1px solid #e4e4e4;
    color: #666;
    line-height: 22px;
    margin: 0 5px;
    vertical-align: middle;
    text-align: center;
}
.paging .common{
    padding: 0;
}
.paging .inputPag{
    width: 100px;
    padding: 0;
}
.paging .determine{
    width: 32px;
    height: 22px;
    line-height: 22px;
    margin-top: 6px;
    padding: 0;
}
.paging .nextPag{
    width: 50px;
    padding: 0;
}




/*footer*/
.footer{
    background: #fff;
    border-top: 1px solid #ddd;
}
.footer_main{
	width: 1000px;
	border-bottom: 1px solid #f5f5f5;
	margin:auto;
	padding-top: 20px;
}
/*底部logo*/
.footer_l{
	width: 224px;
	height: 215px;
	float: left;
}
.footer_l span{
	display: block;
	width: 109px;
    height: 40px;
}
.footer_l p{
	font-size: 12px;
    color: #999;
    margin-top: 20px;
}
/*底部极客中间信息*/
.footer_c{
	width:600px; 
	float:left;
}
.footer_c dl{
	float: left;
	width: 135px;
}
.footer_c dt{
	color: #808080;
	font-size: 14px;
    line-height: 30px;
}
.footer_c dd{
	font-size: 12px;
    line-height: 30px;
}
.footer_c dd a{
	display: block;
	color: #999;
	text-decoration: none;
}
.footer_c dd a:hover{
	color: #35b558;
}
/*右边联系电话*/
.footer_r{
	width:175px;
	float: left;
}
.footer_r .dow{
    position: relative;
    display: inline-block;
    width: 91px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
}
.dow-ios{
	background: url(../img/icon-down-ios.png) left top no-repeat;
    background-size: 23%;
}
.dow-and{
	background: url(../img/icon-down-and.png) left top no-repeat;
    background-size: 23%;	
}
.footer_r p{
	color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}
.scan-ode{
	width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    display: none;
}
.dow-ios:hover .scan-ode,.dow-and:hover .scan-ode{
    display: block;
}
/*悬浮侧边栏(置顶)*/
.return-box{
    position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    width: 34px;
    text-align: center;
    z-index: 2000;
}
.return{
	display: none;
    background: url(../img/gotop.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 34px;
}
.dow-App{
    position: relative;
    display: block;
    background: #f7f7f7 url(../img/phone-1.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}
.return:hover{
    position: relative;
    display: block;
    background: url(../img/gotop2.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 34px;
}
.dow-App:hover{
    position: relative;
    display: block;
    background: #f7f7f7 url(../img/phone-2.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}
.dow-App:hover .dow-app{
	display: block;
}
.dow-app{
	background: url(../img/appewm.png) center center no-repeat;
    background-size: 100%;
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none;
}
.online-Service{
	position: relative;
    display: block;
    background: #f7f7f7 url(../img/kfu1.png) center center no-repeat;
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0;
}
.online-Service:hover .service{
	display: block;
}
.online-Service span{
    position: absolute;
    padding: 5px;
    background: #f7f7f7;
    color: #333;
    font-size: 12px;
    text-align: center;
    width: 180px;
    left: -190px;
    display: none;
}
.online-Service span p{
	line-height: 17px;
}
